{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue dans notre blog</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente earum debitis officiis illo, nostrum eligendi reprehenderit error incidunt, ad, maiores impedit molestias officia! Inventore, officia neque? Quas fugiat dignissimos doloribus.
    </p>
{% endblock %}
