{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Contact us</h1>

<div>
    {{ form(form) }} {#fonction form avec la variable form (qui est définie dans le controller)en paramètre#}
</div>
{% endblock %}
